.metadata/.lock
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.taskListIndex/segments.gen
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.plugins/org.eclipse.core.resources/.history/0/e08d7776985800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/11/500442ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/16/609307ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/1c/70703dee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/23/406c3fee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/23/b00554ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/34/70f850ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/3c/a05640ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/5b/102652ed975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/5b/30f3a47f985800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/71/c0c23bee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/8e/307452ed975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/9b/c0560bf3985800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/9d/007d37ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/a7/207854e2985800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/a7/5038678e995800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/a8/30c3ebad995800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/b0/30272846985800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/c8/f01941ee975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/d0/6094cd7f995800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/d6/b03b51ed975800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.history/e6/a0abb261995800181316b497a0157c80
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/.indexes/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/.indexes/e4/b9/db/81/57/29/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/BestBeer/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/remote-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/http-cache/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/http-cache/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/http-cache/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/local-history/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.fdt
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.fdx
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.fnm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.frq
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.nrm
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.tii
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/_0.tis
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/segments.gen
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.jboss.tools/remote-history/segments_1
.metadata/.plugins/org.eclipse.jdt.core/1044104405.index
.metadata/.plugins/org.eclipse.jdt.core/1271342938.index
.metadata/.plugins/org.eclipse.jdt.core/1337481717.index
.metadata/.plugins/org.eclipse.jdt.core/1356440977.index
.metadata/.plugins/org.eclipse.jdt.core/1360253153.index
.metadata/.plugins/org.eclipse.jdt.core/1419218176.index
.metadata/.plugins/org.eclipse.jdt.core/1647624832.index
.metadata/.plugins/org.eclipse.jdt.core/1931402068.index
.metadata/.plugins/org.eclipse.jdt.core/204893112.index
.metadata/.plugins/org.eclipse.jdt.core/2117113611.index
.metadata/.plugins/org.eclipse.jdt.core/2269524758.index
.metadata/.plugins/org.eclipse.jdt.core/2317592696.index
.metadata/.plugins/org.eclipse.jdt.core/2465022724.index
.metadata/.plugins/org.eclipse.jdt.core/2492837259.index
.metadata/.plugins/org.eclipse.jdt.core/2624014949.index
.metadata/.plugins/org.eclipse.jdt.core/2746151180.index
.metadata/.plugins/org.eclipse.jdt.core/2763200912.index
.metadata/.plugins/org.eclipse.jdt.core/2801155387.index
.metadata/.plugins/org.eclipse.jdt.core/2850261779.index
.metadata/.plugins/org.eclipse.jdt.core/285855433.index
.metadata/.plugins/org.eclipse.jdt.core/2895421220.index
.metadata/.plugins/org.eclipse.jdt.core/2932191785.index
.metadata/.plugins/org.eclipse.jdt.core/2979435446.index
.metadata/.plugins/org.eclipse.jdt.core/3157663476.index
.metadata/.plugins/org.eclipse.jdt.core/3177701877.index
.metadata/.plugins/org.eclipse.jdt.core/3227702110.index
.metadata/.plugins/org.eclipse.jdt.core/3358580009.index
.metadata/.plugins/org.eclipse.jdt.core/352733118.index
.metadata/.plugins/org.eclipse.jdt.core/527849843.index
.metadata/.plugins/org.eclipse.jdt.core/576073405.index
.metadata/.plugins/org.eclipse.jdt.core/616739193.index
.metadata/.plugins/org.eclipse.jdt.core/624708564.index
.metadata/.plugins/org.eclipse.jdt.core/956752051.index
.metadata/.plugins/org.eclipse.jdt.core/995153890.index
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.m2e.core/BestBeer.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/segments_3
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_0_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_1_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_2.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3_1.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_4.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_5.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_7
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/write.lock
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/_u.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/_u_3.del
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/_v.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/_w.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/_x.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/segments_w
.metadata/.plugins/org.eclipse.m2e.core/nexus/a8be36bc20df056fdce6af34f05e9b40/write.lock
.metadata/.plugins/org.eclipse.m2e.jdt/BestBeer.container
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.7.0.20160603-1933.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.mbpdeadistrador_29184/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.mbpdeadistrador_29184/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.mbpdeadistrador_29184/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wst.common.snippets/hidden.xml
.metadata/.plugins/org.eclipse.wst.common.snippets/user.xml
.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1027857714.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1360253153.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1440068419.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1851394122.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2806061427.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3126960729.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/1007901565.index
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.sse.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.32
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.40
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.42
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.50
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.51
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.60
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.70
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.71
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.43
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.50
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.60
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.61
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.eap.70
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.100
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.80
.metadata/.plugins/org.jboss.ide.eclipse.as.core/.global/filesets/default/org.jboss.ide.eclipse.as.wildfly.90
.metadata/.plugins/org.jboss.tools.usage/events/0548c0f2-5c1f-3561-abbf-bc67a1ee9445
.metadata/.plugins/org.jboss.tools.usage/events/central-showOnStartup-N%2FA
.metadata/.plugins/org.jboss.tools.usage/events/f1100028-f759-3a2d-9b02-5b0ab8a20e68
.metadata/.plugins/org.jboss.tools.usage/events/jbt-installed-AS-RUNTIME
BestBeer/.classpath
BestBeer/.gitignore
BestBeer/.project
BestBeer/.settings/org.eclipse.wst.common.component
BestBeer/.settings/org.eclipse.wst.common.project.facet.core.xml
BestBeer/.settings/org.eclipse.wst.jsdt.ui.superType.container
BestBeer/.settings/org.eclipse.wst.jsdt.ui.superType.name
RemoteSystemsTempFiles/.project
BestBeer/.settings/org.eclipse.wst.validation.prefs
BestBeer/.settings/org.eclipse.m2e.core.prefs
BestBeer/.settings/org.eclipse.jdt.core.prefs
BestBeer/.settings/.jsdtscope
